In [27]:
import pandas as pd
import numpy as np

In [25]:
df_transport = pd.read_csv("../data/transports.csv")
df_transport.head()

,FID,id,nom,desserte,pmr,ascenseur,escalator,gid,last_update,last_update_fme,the_geom,adresse,localise_face_a_adresse,commune,insee,zone
0,tcl_sytral.tclarret.3281,3281,Linossier - Richan,S4A:R,True,False,False,26523,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.8373525398799995 45.77949592309458),15TER RUE LOUIS THEVENET,NaN,Lyon 4e Arrondissement,69384.0,1
1,tcl_sytral.tclarret.1,1,24 Août,"87:A,ZI1:A",True,False,False,24616,2025-10-17T05:05:48.026,2025-10-17T05:05:48.026,POINT (4.909324275377001 45.68286878187065),9 AVENUE DU 24 AOUT 1944,NaN,Corbas,69273.0,1
2,tcl_sytral.tclarret.3282,3282,Place Cdt Arnaud,"C13:A,PL2:A",True,False,False,26524,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.834530774781 45.77996376971251),49 RUE DE BELFORT,NaN,Lyon 4e Arrondissement,69384.0,1
3,tcl_sytral.tclarret.3284,3284,Maurice Scève,S4A:R,True,False,False,26525,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.836884357859 45.77712100850085),37 RUE D IVRY,NaN,Lyon 4e Arrondissement,69384.0,1
4,tcl_sytral.tclarret.3285,3285,Maison des Canuts,S4A:R,True,False,False,26526,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.833544046147 45.77719801867383),11 RUE D IVRY,NaN,Lyon 4e Arrondissement,69384.0,1

In [28]:
df_transport = pd.read_csv("../data/transports.csv")

df_code = pd.read_csv("../data/code_insee_to_postal.csv", sep=";")
df_transport.head(2)

,FID,id,nom,desserte,pmr,ascenseur,escalator,gid,last_update,last_update_fme,the_geom,adresse,localise_face_a_adresse,commune,insee,zone
0,tcl_sytral.tclarret.3281,3281,Linossier - Richan,S4A:R,True,False,False,26523,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.8373525398799995 45.77949592309458),15TER RUE LOUIS THEVENET,NaN,Lyon 4e Arrondissement,69384.0,1
1,tcl_sytral.tclarret.1,1,24 Août,"87:A,ZI1:A",True,False,False,24616,2025-10-17T05:05:48.026,2025-10-17T05:05:48.026,POINT (4.909324275377001 45.68286878187065),9 AVENUE DU 24 AOUT 1944,NaN,Corbas,69273.0,1

In [29]:
# ajouter dans df_transports le code postal avec grace au insee
# put df_transport["insee"] and df_code["Code_commune_INSEE"] into int
df_transport.dropna(subset=["insee"], inplace=True)
df_transport["insee"] = df_transport["insee"].astype(str)


df_transport = df_transport.merge(df_code[["Code_commune_INSEE", "Code_postal"]], left_on="insee", right_on="Code_commune_INSEE", how="left")
df_transport

,FID,id,nom,desserte,pmr,ascenseur,escalator,gid,last_update,last_update_fme,the_geom,adresse,localise_face_a_adresse,commune,insee,zone,Code_commune_INSEE,Code_postal
0,tcl_sytral.tclarret.3281,3281,Linossier - Richan,S4A:R,True,False,False,26523,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.8373525398799995 45.77949592309458),15TER RUE LOUIS THEVENET,NaN,Lyon 4e Arrondissement,69384.0,1,NaN,NaN
1,tcl_sytral.tclarret.1,1,24 Août,"87:A,ZI1:A",True,False,False,24616,2025-10-17T05:05:48.026,2025-10-17T05:05:48.026,POINT (4.909324275377001 45.68286878187065),9 AVENUE DU 24 AOUT 1944,NaN,Corbas,69273.0,1,NaN,NaN
2,tcl_sytral.tclarret.3282,3282,Place Cdt Arnaud,"C13:A,PL2:A",True,False,False,26524,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.834530774781 45.77996376971251),49 RUE DE BELFORT,NaN,Lyon 4e Arrondissement,69384.0,1,NaN,NaN
3,tcl_sytral.tclarret.3284,3284,Maurice Scève,S4A:R,True,False,False,26525,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.836884357859 45.77712100850085),37 RUE D IVRY,NaN,Lyon 4e Arrondissement,69384.0,1,NaN,NaN
4,tcl_sytral.tclarret.3285,3285,Maison des Canuts,S4A:R,True,False,False,26526,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.833544046147 45.77719801867383),11 RUE D IVRY,NaN,Lyon 4e Arrondissement,69384.0,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5009,tcl_sytral.tclarret.46212,46212,Pr Bernard,64:R,True,False,False,27922,2025-10-17T05:05:48.279,2025-10-17T05:05:48.279,POINT (4.845405158745 45.72249852576069),1 RUE SAINT JEAN DE DIEU,NaN,Lyon 7e Arrondissement,69387.0,1,NaN,NaN
5010,tcl_sytral.tclarret.47240,47240,Parc de l'Artillerie,64:A,True,False,False,28323,2025-10-17T05:05:48.311,2025-10-17T05:05:48.311,POINT (4.845644982505 45.72852705385308),12 RUE SAINT JEAN DE DIEU,NaN,Lyon 7e Arrondissement,69387.0,1,NaN,NaN
5011,tcl_sytral.tclarret.47241,47241,Parc de l'Artillerie,64:R,True,False,False,28324,2025-10-17T05:05:48.311,2025-10-17T05:05:48.311,POINT (4.845651012156 45.72847606201309),9 RUE SAINT JEAN DE DIEU,NaN,Lyon 7e Arrondissement,69387.0,1,NaN,NaN
5012,tcl_sytral.tclarret.47336,47336,Tannerie,93:R,True,False,False,28361,2025-10-17T05:05:48.314,2025-10-17T05:05:48.314,POINT (4.8608929581339995 45.70949607723202),20 RUE ROBERT REYNIER,NaN,Saint-Fons,69199.0,1,NaN,NaN
5013,tcl_sytral.tclarret.47508,47508,Techsud,64:A,True,False,False,28481,2025-10-17T05:05:48.323,2025-10-17T05:05:48.323,POINT (4.845075956871001 45.72358801429459),39 RUE SAINT JEAN DE DIEU,NaN,Lyon 7e Arrondissement,69387.0,1,NaN,NaN

In [30]:
def extract_coordinates(df):
    """
    Convertit la colonne 'the_geom' au format WKT POINT(lon lat)
    en deux colonnes 'lat' et 'lon' de type float.
    
    Supprime ensuite la colonne 'the_geom'.
    """
    if "the_geom" not in df.columns:
        raise ValueError("La colonne 'the_geom' n'existe pas dans le DataFrame.")
    
    # Extraction des coordonnées
    df[["lon", "lat"]] = (
        df["the_geom"]
        .str.replace(r"POINT\s*\(|\)", "", regex=True)  # Supprime 'POINT(' et ')'
        .str.split(" ", expand=True)                     # Sépare lon et lat
        .astype(float)
    )
    
    # Supprimer la colonne d'origine
    df.drop(columns=["the_geom"], inplace=True)
    
    return df
df_transport = extract_coordinates(df_transport)
df_transport.head(2)

,FID,id,nom,desserte,pmr,ascenseur,escalator,gid,last_update,last_update_fme,adresse,localise_face_a_adresse,commune,insee,zone,Code_commune_INSEE,Code_postal,lon,lat
0,tcl_sytral.tclarret.3281,3281,Linossier - Richan,S4A:R,True,False,False,26523,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,15TER RUE LOUIS THEVENET,NaN,Lyon 4e Arrondissement,69384.0,1,NaN,NaN,4.837353,45.779496
1,tcl_sytral.tclarret.1,1,24 Août,"87:A,ZI1:A",True,False,False,24616,2025-10-17T05:05:48.026,2025-10-17T05:05:48.026,9 AVENUE DU 24 AOUT 1944,NaN,Corbas,69273.0,1,NaN,NaN,4.909324,45.682869

In [31]:
# garder seulement les colonnes 'lat' et 'lon'
df_transport = df_transport[['insee','commune','lat', 'lon']]
# drop nan insee
df_transport = df_transport.dropna(subset=['insee'])

df_transport

        insee                 commune        lat       lon
0     69384.0  Lyon 4e Arrondissement  45.779496  4.837353
1     69273.0                  Corbas  45.682869  4.909324
2     69384.0  Lyon 4e Arrondissement  45.779964  4.834531
3     69384.0  Lyon 4e Arrondissement  45.777121  4.836884
4     69384.0  Lyon 4e Arrondissement  45.777198  4.833544
...       ...                     ...        ...       ...
5009  69387.0  Lyon 7e Arrondissement  45.722499  4.845405
5010  69387.0  Lyon 7e Arrondissement  45.728527  4.845645
5011  69387.0  Lyon 7e Arrondissement  45.728476  4.845651
5012  69199.0              Saint-Fons  45.709496  4.860893
5013  69387.0  Lyon 7e Arrondissement  45.723588  4.845076

[5014 rows x 4 columns]

In [32]:
df_transport.to_csv("../csv_clean/transports.csv", index=False)