In [24]:
import pandas as pd
import numpy as np

In [25]:
df_transport = pd.read_csv("../data/transports.csv")
df_transport.head()

,FID,id,nom,desserte,pmr,ascenseur,escalator,gid,last_update,last_update_fme,the_geom,adresse,localise_face_a_adresse,commune,insee,zone
0,tcl_sytral.tclarret.3281,3281,Linossier - Richan,S4A:R,True,False,False,26523,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.8373525398799995 45.77949592309458),15TER RUE LOUIS THEVENET,NaN,Lyon 4e Arrondissement,69384.0,1
1,tcl_sytral.tclarret.1,1,24 Août,"87:A,ZI1:A",True,False,False,24616,2025-10-17T05:05:48.026,2025-10-17T05:05:48.026,POINT (4.909324275377001 45.68286878187065),9 AVENUE DU 24 AOUT 1944,NaN,Corbas,69273.0,1
2,tcl_sytral.tclarret.3282,3282,Place Cdt Arnaud,"C13:A,PL2:A",True,False,False,26524,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.834530774781 45.77996376971251),49 RUE DE BELFORT,NaN,Lyon 4e Arrondissement,69384.0,1
3,tcl_sytral.tclarret.3284,3284,Maurice Scève,S4A:R,True,False,False,26525,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.836884357859 45.77712100850085),37 RUE D IVRY,NaN,Lyon 4e Arrondissement,69384.0,1
4,tcl_sytral.tclarret.3285,3285,Maison des Canuts,S4A:R,True,False,False,26526,2025-10-17T05:05:48.168,2025-10-17T05:05:48.168,POINT (4.833544046147 45.77719801867383),11 RUE D IVRY,NaN,Lyon 4e Arrondissement,69384.0,1

In [ ]:
# Intervalles pour le Rhône (69)
lat_min, lat_max = 45.4, 46.1
lon_min, lon_max = 4.7, 5.2

df_transport = df_transport['the_geom']
print(df_transport.head(), df_transport[0])

df_transport

df_transport = df_transport.dropna()
df_transport = df_transport[
    (df_transport["lat"] >= lat_min) & (df_transport["lat"] <= lat_max) &
    (df_transport["lon"] >= lon_min) & (df_transport["lon"] <= lon_max)
]
df_transport.shape

AttributeError: 'str' object has no attribute 'typeof'

In [ ]:
df_transport.to_csv("../csv_clean/transports.csv", index=False)